:root {
    -base-color: white;
    -base-variant: #e8e9ed;
    -text-color: #111528;
    -secondary-text: #232738;
    - primary-color: #525252;
    - accent-color: #0E86D4;
.darkmode {
    -base-color: #2E2E2E;
    -base-variant: #101425;
    -text-color: #ffffff;
    -secondary-text: #a4a5b8;
    - primary-color: #525252;
    - accent-color: #0E86D4;
}
*{
    margin: 0;
    padding: 0;
}

html{
    font-family: "Courier New", sans-serif;
}

body {
    min-max: 100vh;
    background-color: var(--base-color);
    color:var(--text-color);
}
}